.App {
  background: #7EB3BF;
  flex-grow: 1;
}

body {
  text-align: center;
}

.sailBoatContainer {
  position: absolute;
  margin-top: 30px;
  width: 150px;
  animation: move 40s linear infinite;
}

@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 80%;
    }
}

.sail1,.sail5{
  fill:none;
}
.sail1{
  stroke:#F2E6D0;
}
.sail1,.sail5,.sail6 {
  stroke-linecap:round;
}
.sail1,.sail6 {
  stroke-linejoin:round;
}
.sail2,.sail6 {
  fill:#1A402A;
}

  .sail3 {fill:#f4f4f4;}
  
  .sail4 {fill:#f1263a;}
  
  .sail5 {
    stroke:#ae8863;
    stroke-miterlimit:10;
    stroke-width:2px;
  }
  .sail6 {
    stroke:#c2ccca;
  }
  .sail7{
    fill:#7f604c;
  }

  @media screen and (max-width: 600px) {
    .sailBoatContainer {
      animation: move 10s linear infinite;
    }
    @keyframes move {
      from {
          left: 0;
      }
      to {
          left: 80%;
      }
  }
  }